<% @article.errors.full_messages.each do |message| %>
  <p class='text-danger'><%= message %></p>
<% end %>
<%= form_with model: @article do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title, class: 'form-control' %>
  <%= f.label :content %>
  <%= f.text_area :content, class: 'form-control' %>
  <%= f.submit %>
<% end %>
